[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "*"
opencv-python = "==4.5.1.48"
pillow = "==8.2.0"
torch = "==1.8.0"
torchvision = "==0.9.0"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
